html {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;  
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  background: #ecf0f1;
  color: #2c3e50;  
}

h1 {
  padding: 1em;
  text-align: center;
  font-weight: 700;
  font-size: 2em
}

.page-style {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100vh;
}

.user-options {
  display: flex;
  flex-direction: column;
  width: 28%;
  height: 100%;
}

.calendar-container {
  width: 60%;
}

.constraints, .taken-times, .booked-appointments {
  margin-bottom: 5vh;
  padding: 15px;
  background: #f1c40f;
  border-radius: 5px;
  box-shadow: 1px 1px 1px grey;
}

.fc-view-container {
  border-radius: 5px;  
  box-shadow: 1px 1px 1px grey;  
}

form{
  display: flex;
  flex-direction: column;
}

h2 {
  padding: .5em 0em .5em 0em;
  text-decoration: underline;
  margin: 0;
  font-weight: 800;
}

.fc-right {
  width: 15em;
}

#calendar h2 {
  font-size: 1.5rem;
  padding-left: 1em;
  color: #7f8c8d;
  text-decoration: none;
  font-weight: 700;
}

.open-hours tr td:nth-child(2) {
  max-width: 120px;
  background: #f39c12;
}

td > input {
  width: 100%;
}

td {
  border-radius: 2px;
}

.appointment-details tr td:nth-child(2)  {
  max-width: 40px;
  background: #f39c12;  
  text-align: center
}

.open-hours, .availability, .appointment-details {
  padding-bottom: 2em;
}

select {
  background: #f39c12;  
  border: none;
  text-align: center;
  border-radius: 2px;
  height: 26px;
}

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

button {
  margin-top: 1em;
  align-self: center;
  width: 50%;
  text-align: center;
  border-radius: 3px;
  padding: 8px;
  font-weight: 600;
  background: #2ecc71;
}

button:hover {
  background: #27ae60;
}

input[type=checkbox] + label { 
 cursor: pointer;
 width: 95px;
 background: #f1c40f;
 border: 1px solid #7f8c8d;
 border-radius: 3px;
 padding: 5px;
 margin: 10px 0px 10px 0px;
 line-height: 2em;
}

input[type=checkbox]:checked + label {
  background: #2ecc71;
  border: 1px solid #2ecc71;
}

input:focus, input[type]:focus {   
  box-shadow: 0 1px 1px #00362B inset, 0 0 8px #00362B;
  outline: 0 none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=time]::-webkit-inner-spin-button, 
input[type=time]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.fc-today {
  background: #bdc3c7 !important;
}